## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [17]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [37]:
# Your code here

 # Random float:  0 <= x < 100

sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

print(len(set(sample_list_1)))

[16, 90, 93, 18, 25, 76, 99, 52, 31, 36, 67, 23, 26, 81, 34, 86, 3, 97, 46, 39, 38, 85, 11, 45, 80, 70, 7, 13, 91, 65, 71, 2, 48, 95, 32, 44, 43, 87, 53, 17, 8, 19, 89, 58, 88, 56, 68, 62, 54, 49, 21, 14, 30, 51, 24, 47, 69, 41, 75, 77, 55, 57, 72, 73, 92, 20, 5, 59, 1, 42, 37, 78, 40, 10, 0, 15, 96, 9, 84, 29]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [72]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

print("La longueur du set est toujours de 80 caractères")

80
La longueur du set est toujours de 80 caractères

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [70]:
# Your code here

sample_list_2 = [random.randrange(0, 100) for i in range(80)]
print(sample_list_2)

[53, 73, 99, 19, 4, 47, 14, 11, 47, 29, 40, 90, 83, 19, 57, 84, 51, 50, 49, 64, 2, 90, 9, 45, 0, 61, 20, 3, 31, 97, 66, 79, 22, 39, 13, 81, 86, 93, 82, 73, 58, 52, 84, 63, 12, 95, 10, 14, 41, 52, 23, 34, 4, 13, 88, 53, 74, 33, 94, 13, 34, 61, 0, 32, 24, 45, 50, 0, 36, 42, 88, 24, 91, 19, 86, 28, 59, 92, 89, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [110]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

print("La longueur du set2 est désormais de 53 caractères, ce qui correspond au nombre de caractères uniques.")

59
La longueur du set est désormais de 53 caractères, ce qui correspond au nombre de caractères uniques.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [98]:
# Your code here

#len(set3) = len(set1) - len(set2)
#soit 21 valeurs uniques à trouver

set3 = set1 - set2
print(set3)

{1, 5, 7, 8, 15, 16, 17, 18, 21, 25, 26, 37, 38, 43, 44, 46, 48, 54, 55, 56, 62, 65, 67, 68, 69, 70, 71, 72, 75, 76, 77, 78, 80, 85, 87, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [99]:
# Your code here

set4 = set2 - set1
print(set4)

{64, 33, 66, 4, 74, 12, 79, 50, 82, 83, 22, 28, 61, 94, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [100]:
# Your code here

set5 = set1 & set2
print(set5)

{0, 2, 3, 9, 10, 11, 13, 14, 19, 20, 23, 24, 29, 30, 31, 32, 34, 36, 39, 40, 41, 42, 45, 47, 49, 51, 52, 53, 57, 58, 59, 73, 81, 84, 86, 88, 89, 90, 91, 92, 93, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [108]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


print("La longueur totale du set1 est égale au set3 + set5.")

80
59
36
15
44
La longueur totale du set1 est égale au set3 + set5.

#### Create an empty set called `set6`.

In [111]:
# Your code here

set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [114]:
# Your code here

set6.update(set3)
print(set6)

set6.update(set5)

AttributeError: 'tuple' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

if set1 == set6: 
    print(True)
else:
    print(False)

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here